p {
	margin: 0 20px;
	padding: 4px 12px 6px;
	font-size: 18px;
	line-height: 24px;
	background: #ff00ca;
	border: 1px solid #000;
	border-radius: 6px;
	cursor: pointer;
}

p.second {
	margin: 0 16px;
	padding: 6px 10px 4px;
	font-size: 19px;
	line-height: 22px;
	background: #00caff;
	border: 1px solid #00f;
	border-radius: 4px;
	cursor: help;
}
